<a href="{{ routes.cart_url }}" title="Cart" class="icon-link header-cart-drawer-button" id="header-cart-drawer-button">
  <span class="material-symbols-rounded icon"> shopping_cart </span>
  {%- if cart != empty -%}
    <div class="header-cart-drawer-button-count">
      <span aria-hidden="true">{{ cart.item_count }}</span>
    </div>
  {%- endif -%}
</a>
