{% paginate collections.all.products by paginateBy %}
  <div class="products-grid">
    {% for product in collections.all.products limit: limit %}
      {% render 'product-thumbnail-po', product: product %}
    {% endfor %}
  </div>
  {% if isPaginated %}
    {{- paginate | default_pagination }}
  {% endif %}
{% endpaginate %}
