@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700;800&display=swap");

$material-symbols-font-path: "~material-symbols/";
@import "material-symbols/rounded.css";

$main-dark: #222;
$main-purple: #cb13a9;
$base-transition: all 0.3s ease;

// .material-symbols-rounded {
//   font-variation-settings: "FILL" 1;
// }

body {
  background-color: #f7f7f7;
}

.container {
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 35px;
  }
  @media (min-width: 1200px) {
    padding: 0 30px;
    max-width: 1100px;
    margin: auto;
  }

  @media (min-width: 1400px) {
    max-width: 1240px;
  }

  @media (min-width: 1600px) {
    max-width: 1400px;
  }
}

.logo-shop-name {
  font-size: 24px;
  font-weight: 900;
  font-family: "Bitter", serif;
  color: $main-purple;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  transition: $base-transition;

  .scrolled & {
    background-color: rgba(255, 255, 255, 0.75);
  }

  .nav-link {
    text-transform: uppercase;
    color: $main-dark;
    text-decoration: none;
  }

  .main-header-inner {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 10px 0;
    transition: $base-transition;

    .scrolled & {
      padding: 7px 0;
    }

    .mobile-nav-trigger-container {
      display: flex;
      align-items: center;

      @media (min-width: 1200px) {
        display: none;
      }

      .mobile-nav-trigger {
        display: block;
        text-decoration: none;
        color: $main-dark;

        span {
          display: block;
          font-size: 40px;
        }
      }
    }

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 1200px) {
        justify-content: flex-start;
      }

      .logo-shop-name {
        @media (min-width: 768px) {
          font-size: 28px;
        }
        @media (min-width: 1200px) {
          font-size: 32px;
        }
      }
    }

    .nav-desktop-container {
      display: none;

      @media (min-width: 1200px) {
        display: block;
      }

      nav {
        height: 100%;

        ul {
          height: 100%;

          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 45px;

          @media (min-width: 1600px) {
            gap: 65px;
          }

          .nav-link {
            font-size: 16px;
            text-transform: capitalize;
            transition: $base-transition;
            position: relative;

            &:hover {
              color: $main-purple;
            }
          }
        }
      }
    }

    .icons-container {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }

      .icon-link {
        display: block;
        color: $main-dark;
        text-decoration: none;
        transition: $base-transition;

        @media (min-width: 1200px) {
          &:hover {
            color: $main-purple;
          }
        }

        span {
          display: block;
          font-size: 30px;
        }
      }
    }
  }

  .nav-mobile-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(-100%);
    transition: $base-transition;

    @media (min-width: 1200px) {
      display: none;
    }

    &.show {
      transform: translateX(0);
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 10px 0;

        .nav-link {
          font-size: 30px;
          font-weight: 700;
        }
      }
    }
    .nav-mobile-close {
      display: block;
      position: absolute;
      top: 15px;
      right: 20px;
      color: $main-dark;

      span {
        font-size: 40px;
      }
    }
  }
}

.index-hero {
  background: url("../../assets/index-hero-bg-mobile.jpg") no-repeat center top;
  background-size: cover;

  @media (min-width: 768px) {
    background: url("../../assets/index-hero-bg-desktop.jpg") no-repeat center
      top;
    background-size: cover;
  }

  .index-hero-inner {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      height: 60vh;
    }
    @media (min-width: 1200px) {
      height: 90vh;
      align-items: flex-end;
    }
    @media (min-width: 1300px) {
      height: 100vh;
    }

    .index-hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .index-hero-title {
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        line-height: 1;
        text-shadow: 0 0 10px #000;

        @media (min-width: 768px) {
          margin-bottom: 50px;
        }
        @media (min-width: 1200px) {
          font-size: 60px;
          max-width: 550px;
        }
      }

      .index-hero-button {
        border: 3px solid #fff;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        transition: $base-transition;

        @media (min-width: 1200px) {
          &:hover {
            background-color: #fff;
            color: $main-dark;
          }
        }
      }
    }
  }
}
