@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");

$material-symbols-font-path: "~material-symbols/";
@import "material-symbols/rounded.css";

$main-dark: #222;
$main-bright: #f7f7f7;
$main-purple: #cb13a9;
$base-transition: all 0.3s ease;
$font-poppins: "Poppins", sans-serif;

// .material-symbols-rounded {
//   font-variation-settings: "FILL" 1;
// }

img {
  max-width: 100%;
}

body {
  background-color: $main-bright;
  color: $main-dark;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.06rem;
  line-height: 1.8;
  margin: 0;
}

.container {
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 35px;
  }
  @media (min-width: 1200px) {
    padding: 0 30px;
    max-width: 1100px;
    margin: auto;
  }

  @media (min-width: 1400px) {
    max-width: 1240px;
  }

  @media (min-width: 1600px) {
    max-width: 1400px;
  }
}

.logo-shop-name-link {
  text-decoration: none;

  .logo-shop-name {
    font-size: 24px;
    font-weight: 900;
    font-family: "Bitter", serif;
    color: $main-purple;
  }
}

.btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: $main-dark;
  background-color: #fff;
  text-decoration: none;
  transition: $base-transition;

  @media (min-width: 1200px) {
    &:hover {
      background-color: $main-purple;
      color: #fff;
    }
  }
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  transition: $base-transition;

  .scrolled & {
    background-color: rgba(255, 255, 255, 0.75);
  }

  .nav-link {
    text-transform: uppercase;
    color: $main-dark;
    text-decoration: none;
  }

  .main-header-inner {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 10px 0;

    .mobile-nav-trigger-container {
      display: flex;
      align-items: center;

      @media (min-width: 1200px) {
        display: none;
      }

      .mobile-nav-trigger {
        display: block;
        text-decoration: none;
        color: $main-dark;

        span {
          display: block;
          font-size: 30px;
        }
      }
    }

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 1200px) {
        justify-content: flex-start;
      }

      .logo-shop-name {
        @media (min-width: 768px) {
          font-size: 28px;
        }
        @media (min-width: 1200px) {
          font-size: 32px;
        }
      }
    }

    .nav-desktop-container {
      display: none;

      @media (min-width: 1200px) {
        display: block;
      }

      nav {
        height: 100%;

        ul {
          height: 100%;
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 45px;

          .nav-link {
            font-size: 15px;
            text-transform: capitalize;
            transition: $base-transition;
            position: relative;

            &:hover {
              color: $main-purple;
            }
          }
        }
      }
    }

    .icons-container {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }

      .icon-link {
        display: block;
        color: $main-dark;
        text-decoration: none;
        transition: $base-transition;

        @media (min-width: 1200px) {
          &:hover {
            color: $main-purple;
          }
        }

        span {
          display: block;
          font-size: 24px;

          @media (min-width: 1200px) {
            font-size: 30px;
          }
        }
      }
    }
  }

  .nav-mobile-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(-100%);
    transition: $base-transition;

    @media (min-width: 1200px) {
      display: none;
    }

    &.show {
      transform: translateX(0);
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 10px 0;

        .nav-link {
          font-size: 30px;
          font-weight: 700;
        }
      }
    }
    .nav-mobile-close {
      display: block;
      position: absolute;
      top: 15px;
      right: 20px;
      color: $main-dark;

      span {
        font-size: 40px;
      }
    }
  }
}

.hero {
  position: relative;
  // background: url("../../assets/index-hero-bg-mobile.jpg") no-repeat center top;
  // background-size: cover;

  // @media (min-width: 768px) {
  //   background: url("../../assets/index-hero-bg-desktop.jpg") no-repeat center
  //     top;
  //   background-size: cover;
  // }

  .hero-dimmer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  .hero-inner {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;

    @media (min-width: 1200px) {
      height: 40vh;
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .hero-title {
        font-size: 35px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        line-height: 1;
        text-shadow: 0 0 10px #000;
        font-family: $font-poppins;

        @media (min-width: 768px) {
          margin-bottom: 50px;
        }
        @media (min-width: 1200px) {
          font-size: 50px;
          max-width: 550px;
        }
      }

      .hero-button {
        border: 3px solid #fff;
        background-color: transparent;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;

        @media (min-width: 1200px) {
          &:hover {
            background-color: #fff;
            color: $main-dark;
          }
        }
      }
    }
  }
}

.index-hero {
  .hero-inner {
    height: 80vh;

    @media (min-width: 768px) {
      height: 60vh;
    }
    @media (min-width: 1200px) {
      align-items: flex-end;
    }

    .hero-title {
      font-size: 40px;

      @media (min-width: 1200px) {
        font-size: 60px;
      }
    }
    .hero-button {
      font-size: 18px;
    }
  }
}

.index-arrivals {
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }
  @media (min-width: 1200px) {
    padding: 80px 0;
  }

  .index-arrivals-title {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-family: $font-poppins;

    @media (min-width: 768px) {
      font-size: 34px;
      margin-bottom: 60px;
    }
    @media (min-width: 1200px) {
      font-size: 38px;
      margin-bottom: 80px;
    }
    @media (min-width: 1600px) {
      font-size: 44px;
    }
  }
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
  }
}

.product-thumbnail {
  display: block;
  color: $main-dark;
  text-decoration: none;
  transition: $base-transition;

  @media (min-width: 1200px) {
    &:hover {
      box-shadow: 0 0 15px #999;
      color: $main-purple;

      .product-thumbnail-img {
        .product-thumbnail-img-file {
          transform: scale(1.03);
        }
      }
    }
  }

  .product-thumbnail-img {
    overflow: hidden;
    position: relative;

    .product-thumbnail-img-file {
      display: block;
      transform: scale(1.01);
      transition: transform 0.5s ease;
    }
  }
  .product-thumbnail-info {
    padding: 20px 0;
    text-align: center;

    .product-thumbnail-title {
      display: block;
      margin-top: 0;
      line-height: 1.4;
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 13px;

      @media (min-width: 768px) {
        font-size: 15px;
      }
      @media (min-width: 1600px) {
        font-size: 16px;
      }
    }
    .produtc-thumbnail-prices {
      font-size: 13px;
      opacity: 0.7;

      @media (min-width: 768px) {
        font-size: 14px;
      }
      @media (min-width: 1600px) {
        font-size: 16px;
      }
    }
  }
}

.product-thumbnail-sold-out-badge {
  display: inline-block;
  padding: 5px 10px;
  background: #222;
  color: #fff;
  font-size: 9px;
  opacity: 0.8;
  text-transform: uppercase;
  color: $main-bright;
  position: absolute;
  bottom: 0;

  @media (min-width: 1200px) {
    font-size: 11px;
    padding: 5px 15px;
  }
  @media (min-width: 1600px) {
    font-size: 13px;
    padding: 5px 15px;
  }
}

.index-features {
  padding: 50px 0;
  background-color: #fff;

  .index-features-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 15px;

    @media (min-width: 768px) {
      gap: 35px 50px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;
    }

    .index-feature {
      display: inline-grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      column-gap: 15px;
      row-gap: 5px;

      @media (min-width: 768px) {
        column-gap: 20px;
      }
      @media (min-width: 1200px) {
        row-gap: 10px;
      }

      .index-feature-icon {
        span {
          display: block;
          font-size: 25px;

          @media (min-width: 768px) {
            font-size: 30px;
          }
          @media (min-width: 1200px) {
            font-size: 35px;
          }
          @media (min-width: 1600px) {
            font-size: 40px;
          }
        }
      }
      .index-feature-title {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.2;
        align-self: center;

        @media (min-width: 768px) {
          font-size: 16px;
        }
        @media (min-width: 1200px) {
          font-size: 18px;
        }
      }
      .index-feature-description {
        font-size: 13px;
        grid-column: 2 / 3;
        margin: 0;
        line-height: 1.3;

        @media (min-width: 768px) {
          font-size: 14px;
        }
        @media (min-width: 1200px) {
          line-height: 1.4;
        }
        @media (min-width: 1600px) {
          font-size: 16px;
        }
      }
    }
  }
}

.index-insta {
  // background: url("../../assets/index-insta-bg-mobile.jpg") no-repeat center top;
  // background-size: cover;

  // @media (min-width: 768px) {
  //   background: url("../../assets/index-insta-bg-desktop.jpg") no-repeat center
  //     top;
  //   background-size: cover;
  // }

  .index-insta-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 110px 0;

    @media (min-width: 1200px) {
      padding: 120px 0;
    }

    .index-insta-title {
      font-size: 30px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 20px;
      font-family: $font-poppins;

      @media (min-width: 768px) {
        font-size: 34px;
      }
      @media (min-width: 1200px) {
        font-size: 46px;
      }
      @media (min-width: 1600px) {
        font-size: 60px;
        margin-bottom: 30px;
      }
    }
    .index-insta-subtitle {
      font-size: 14px;
      display: block;
      margin-bottom: 25px;

      @media (min-width: 768px) {
        font-size: 16px;
      }
      @media (min-width: 1200px) {
        font-size: 18px;
        margin-bottom: 30px;
      }
      @media (min-width: 1600px) {
        font-size: 20px;
        margin-bottom: 35x;
      }
    }
    .index-insta-button {
      box-shadow: 0 15px 20px #ddd;

      @media (min-width: 1200px) {
        &:hover {
          background-color: $main-dark;
        }
      }
    }
  }
}

.main-footer {
  background-color: #fff;

  .footer-main {
    padding: 50px 0;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 70px 0;
    }
    @media (min-width: 1200px) {
      padding: 90px 0;
    }
    @media (min-width: 1600px) {
      padding: 110px 0;
    }

    .footer-main-left {
      text-align: center;

      .logo-shop-name {
        @media (min-width: 1600px) {
          font-size: 30px;
        }
      }
      .footer-main-company-address {
        font-size: 13px;

        @media (min-width: 1600px) {
          font-size: 15px;
        }
      }
    }

    .footer-nav-container {
      margin-top: 50px;

      @media (min-width: 768px) {
        margin-top: 0;
      }
      @media (min-width: 1200px) {
        height: 100%;
      }

      nav {
        @media (min-width: 1200px) {
          height: 100%;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          text-align: center;

          @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            gap: 40px;
            height: 100%;
          }
          @media (min-width: 1200px) {
            height: 100%;
            align-items: center;
            gap: 60px;
          }

          li {
            margin: 10px 0;

            @media (min-width: 768px) {
              margin: 0;
            }

            .footer-nav-link {
              text-decoration: none;
              color: $main-dark;
              font-size: 13px;
              transition: $base-transition;

              @media (min-width: 1200px) {
                font-size: 14px;

                &:hover {
                  color: $main-purple;
                }
              }
              @media (min-width: 1600px) {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    border-top: 1px solid #ccc;
    padding: 20px 0 30px;

    @media (min-width: 1200px) {
      padding: 30px 0 60px;
    }
    @media (min-width: 1200px) {
      padding: 40px 0 70px;
    }

    .footer-bottom-copyrights {
      display: block;
      font-size: 12px;
      line-height: 1.4;

      @media (min-width: 1200px) {
        font-size: 14px;
      }
    }
  }
}

.main-collection-products {
  margin-top: 40px;
}

.collection-filters {
  padding: 30px 0;
}

.collection-filters-form {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 50px;
  align-items: center;
  font-size: 14px;

  .filter-by-container {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}

.filter-by-group {
  position: relative;

  &.open {
    &:after {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // background: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
    .filter-by-group-header {
      // z-index: 3;
      // position: relative;
      color: $main-purple;
    }
  }

  .filter-by-group-header {
    display: flex;
    cursor: pointer;
    transition: $base-transition;

    &:hover {
      color: $main-purple;
    }
  }

  .filter-by-group-options {
    position: absolute;
    top: calc(100% + 5px);
    z-index: 3;
    background-color: $main-bright;
    border: 1px solid #dedede;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    width: 350px;
    transition: $base-transition;

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .filter-by-group-options-header {
      padding: 20px;
      border-bottom: 1px solid #dedede;
      display: flex;
      justify-content: space-between;
    }

    .filter-by-group-list {
      padding: 20px;
      list-style-type: none;
      margin: 0;

      label {
        display: flex;
        cursor: pointer;

        &.filter-disabled {
          color: #999;
        }

        input {
          visibility: hidden;
          opacity: 0;
          position: absolute;

          &:checked + .filter-by-list-custom-checkbox span.checkbox-check {
            opacity: 1;
            visibility: visible;
          }
        }

        .filter-by-list-custom-checkbox {
          display: grid;
          grid-template-columns: auto;
          margin-right: 5px;
          align-items: center;
          justify-content: center;

          span[class^="material-symbols"] {
            display: block;
            grid-column-start: 1;
            grid-row-start: 1;
            text-align: center;

            &.checkbox-outline {
              font-size: 22px;
            }
            &.checkbox-check {
              font-size: 13px;
              opacity: 0;
              visibility: hidden;
              transition: $base-transition;
            }
          }
        }
      }
    }
    .filter-by-group-price-range {
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      label {
        display: block;
      }
      input {
        padding: 10px;
        width: 100px;
      }
    }
  }
}

.sort-by-container {
  display: flex;
  align-items: center;
  gap: 25px;

  .sort-by-select-container {
    position: relative;

    .sort-by-select {
      appearance: none;
      border: none;
      background-color: transparent;
      font-family: "Poppins", sans-serif;
      letter-spacing: 0.06rem;
      font-size: 14px;
      padding: 5px 25px 5px 5px;
      cursor: pointer;
    }

    span[class^="material-symbols"] {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
    }
  }
}
