<footer class="main-footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-main-left">
        <div class="footer-logo-container">
          <a href="/" title="Purple Owl Store" class="logo-shop-name-link">
            <span class="logo-shop-name">Purple Owl</span>
          </a>
        </div>
        <div class="footer-main-company-address">
          400 University Drive Suite 200 Coral Gables,<br>
          FL 33134 USA
        </div>
      </div>
      <div class="footer-main-right">
        <div class="footer-nav-container">
          <nav>
            <ul>
              <li>
                <a href="/" title="Home" class="footer-nav-link">Home</a>
              </li>
              <li>
                <a href="/shop" title="Shop" class="footer-nav-link">Shop</a>
              </li>
              <li>
                <a href="/about" title="About" class="footer-nav-link">About</a>
              </li>
              <li>
                <a href="/contact" title="Contact" class="footer-nav-link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <span class="footer-bottom-copyrights">&#169 2022 Purple Owl eCommerce. All rights reverved.</span>
    </div>
  </div>
</footer>
