<footer class="main-footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-main-left">
        <div class="footer-logo-container">
          <a href="/" title="Purple Owl Store" class="logo-shop-name-link">
            <span class="logo-shop-name">Purple Owl</span>
          </a>
        </div>
        <div class="footer-main-company-address">
          400 University Drive Suite 200 Coral Gables,<br>
          FL 33134 USA
        </div>
      </div>
      <div class="footer-main-right">
        <div class="footer-nav-container">
          <nav>
            <ul>
              {% for link in linklists['main-menu'].links %}
                <li>
                  <a href="{{ link.url }}" title="{{ link.title }}" class="footer-nav-link">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <span class="footer-bottom-copyrights">&#169 2024 Purple Owl eCommerce. All rights reverved.</span>
    </div>
  </div>
</footer>
