<header class="main-header">
  <div class="container">
    <div class="main-header__inner">
      <div class="mobile-nav-trigger-container">
        <a href="#" title="Navigation" class="mobile-nav-trigger">
          <span class="material-symbols-rounded"> menu </span>
        </a>
      </div>
      <div class="logo-container">
        <span class="logo-shop-name">Purple Owl</span>
      </div>
      <div class="nav-desktop-container">
        <nav>
          <ul>
            <li>
              <a href="/" title="Home" class="main-header__link">Home</a>
            </li>
            <li>
              <a href="/shop" title="Shop" class="main-header__link">Shop</a>
            </li>
            <li>
              <a href="/about" title="About" class="main-header__link">About</a>
            </li>
            <li>
              <a href="/contact" title="Contact" class="main-header__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="icons-container">
        <ul>
          <li>
            <a href="#" title="Cart" class="icon-link">
              <span class="material-symbols-rounded"> shopping_cart </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-mobile-container">
    <a href="#" title="Close" class="nav-mobile__close">
      <span class="material-symbols-rounded"> close </span>
    </a>
    <nav>
      <ul>
        <li>
          <a href="/" title="Home" class="main-header__link">Home</a>
        </li>
        <li>
          <a href="/shop" title="Shop" class="main-header__link">Shop</a>
        </li>
        <li>
          <a href="/about" title="About" class="main-header__link">About</a>
        </li>
        <li>
          <a href="/contact" title="Contact" class="main-header__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
