<section class="index-arrivals">
  <div class="container">
    <h2 class="index-arrivals-title">Discover new arrivals!</h2>
    <div class="index-arrivals-products">
      {% for product in collections.all.products limit: 8 %}
        {% include 'product-thumbnail-po' %}
      {% endfor %}
    </div>
  </div>
</section>
