<div class="index-hero">
  <div class="container">
    <h1 class="index-hero-title">stylist picks beat the heat</h1>
    <a href="#" title="Shop now" class="index-hero-button">Shop now</a>
  </div>
</div>
