<section class="index-arrivals">
  <div class="container">
    <h2 class="index-arrivals-title">Discover new arrivals!</h2>
    <div class="index-arrivals-products">
      {% render 'products-grid-po', limit: 8 %}
    </div>
  </div>
</section>
