<section class="index-insta">
  <div class="container">
    <div class="index-insta-inner">
      <h2 class="index-insta-title">Our Instagram</h2>
      <span class="index-insta-subtitle">Follow our store on Instagram</span>
      <a href="http://instagram.com" title="Follow Us" class="btn index-insta-button" target="_blank">Follow Us</a>
    </div>
  </div>
</section>
