<style>
  .index-insta {
    background: url({{'index-insta-bg-mobile.jpg'|file_url}}) no-repeat center top;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .index-insta {
      background: url({{'index-insta-bg-desktop.jpg'|file_url}}) no-repeat center top;
      background-size: cover;
    }
  }
</style>

<section class="index-insta">
  <div class="container">
    <div class="index-insta-inner">
      <h2 class="index-insta-title">Our Instagram</h2>
      <span class="index-insta-subtitle">Follow our store on Instagram</span>
      <a href="http://instagram.com" title="Follow Us" class="btn index-insta-button" target="_blank">Follow Us</a>
    </div>
  </div>
</section>
