<section class="index-arrivals">
  <div class="container">
    <h2 class="index-arrivals-title">Discover new arrivals!</h2>
    <div class="index-arrivals-products">
      <div class="products-grid">
        {% for product in collections.all.products limit: 8 %}
          {% render 'product-thumbnail-po', product: product %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
