<div class="index-features">
  <div class="container">
    <div class="index-features-inner">
      <div class="index-feature">
        <div class="index-feature-icon">
          <span class="material-symbols-rounded">local_shipping</span>
        </div>
        <strong class="index-feature-title">Free shipping</strong>
        <p class="index-feature-description">Enjoy free shipping on all orders above $100</p>
      </div>
      <div class="index-feature">
        <div class="index-feature-icon">
          <span class="material-symbols-rounded">support</span>
        </div>
        <strong class="index-feature-title">Support 24/7</strong>
        <p class="index-feature-description">Our support team is there to help you for queries</p>
      </div>
      <div class="index-feature">
        <div class="index-feature-icon">
          <span class="material-symbols-rounded">history</span>
        </div>
        <strong class="index-feature-title">30 days return</strong>
        <p class="index-feature-description">Simply return it within 30 days for an exchange.</p>
      </div>
      <div class="index-feature">
        <div class="index-feature-icon">
          <span class="material-symbols-rounded">lock</span>
        </div>
        <strong class="index-feature-title">100% secure payments</strong>
        <p class="index-feature-description">Our payments are secured with 256 bit encryption</p>
      </div>
    </div>
  </div>
</div>
