<div class="index-hero">
  <div class="container">
    <div class="index-hero-inner">
      <div class="index-hero-content">
        <h1 class="index-hero-title">stylist picks beat the heat</h1>
        <a href="#" title="Shop now" class="index-hero-button">Shop now</a>
      </div>
    </div>
  </div>
</div>
