<div id="main-collection-products" class="main-collection-products" data-sectionid="{{ section.id }}">
  <div class="container">
    <div id="products-grid-container" class="products-grid-container" data-sectionid="{{ section.id }}">
      {% paginate collection.products by 20 %}
        <div class="products-grid">
          {% for product in collection.products %}
            {% render 'product-thumbnail-po', product: product %}
          {% endfor %}
        </div>
        {{- paginate | default_pagination }}
      {% endpaginate %}

      {% if collection.products.size == 0 %}
        <p class="main-collection-no-products-found">We are sorry, but no products were found.</p>
      {% endif %}
    </div>
  </div>
</div>
