<div class="container">
  {% assign foundersNames = 'HM Jawad,Furqan Abid,Abdullah Ah,Abrar Khan' | split: ',' %}
  <div class="page-about-founders">
    <h2 class="page-subtitle">The Founders</h2>
    <div class="page-about-founders-gallery">
      {% for name in foundersNames %}
        <div class="page-about-founder">
          <div class="page-about-founder-pic">
            <img
              src="{{ "page-about-founder-" | append: forloop.index | append: ".jpg" | file_url }}"
              alt="{{ name }}"
              class="page-about-founder-pic-file"
            >
          </div>
          <strong class="page-about-founder-name">{{ name }}</strong>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
