/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \*********************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Bitter:wght@700;800&display=swap);
/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/material-symbols/rounded.css ***!
  \*********************************************************************************************/
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url(0d6e3b98940e36861c2c.woff2) format("woff2");
}
.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

/*!*************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss (1) ***!
  \*************************************************************************************************************************************************************/
img {
  max-width: 100%;
}

body {
  background-color: #f7f7f7;
  color: #222;
}

.container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 35px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 30px;
    max-width: 1100px;
    margin: auto;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1240px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}

.logo-shop-name {
  font-size: 24px;
  font-weight: 900;
  font-family: "Bitter", serif;
  color: #cb13a9;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
.scrolled .main-header {
  background-color: rgba(255, 255, 255, 0.75);
}
.main-header .nav-link {
  text-transform: uppercase;
  color: #222;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.main-header .main-header-inner {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding: 10px 0;
}
.main-header .main-header-inner .mobile-nav-trigger-container {
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
  .main-header .main-header-inner .mobile-nav-trigger-container {
    display: none;
  }
}
.main-header .main-header-inner .mobile-nav-trigger-container .mobile-nav-trigger {
  display: block;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #222;
}
.main-header .main-header-inner .mobile-nav-trigger-container .mobile-nav-trigger span {
  display: block;
  font-size: 40px;
}
.main-header .main-header-inner .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .main-header .main-header-inner .logo-container {
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .main-header .main-header-inner .logo-container .logo-shop-name {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .main-header .main-header-inner .logo-container .logo-shop-name {
    font-size: 32px;
  }
}
.main-header .main-header-inner .nav-desktop-container {
  display: none;
}
@media (min-width: 1200px) {
  .main-header .main-header-inner .nav-desktop-container {
    display: block;
  }
}
.main-header .main-header-inner .nav-desktop-container nav {
  height: 100%;
}
.main-header .main-header-inner .nav-desktop-container nav ul {
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.main-header .main-header-inner .nav-desktop-container nav ul .nav-link {
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.3s ease;
  position: relative;
}
.main-header .main-header-inner .nav-desktop-container nav ul .nav-link:hover {
  color: #cb13a9;
}
.main-header .main-header-inner .icons-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.main-header .main-header-inner .icons-container .icon-link {
  display: block;
  color: #222;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all 0.3s ease;
}
@media (min-width: 1200px) {
  .main-header .main-header-inner .icons-container .icon-link:hover {
    color: #cb13a9;
  }
}
.main-header .main-header-inner .icons-container .icon-link span {
  display: block;
  font-size: 30px;
}
.main-header .nav-mobile-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
@media (min-width: 1200px) {
  .main-header .nav-mobile-container {
    display: none;
  }
}
.main-header .nav-mobile-container.show {
  transform: translateX(0);
}
.main-header .nav-mobile-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-header .nav-mobile-container ul li {
  margin: 10px 0;
}
.main-header .nav-mobile-container ul li .nav-link {
  font-size: 30px;
  font-weight: 700;
}
.main-header .nav-mobile-container .nav-mobile-close {
  display: block;
  position: absolute;
  top: 15px;
  right: 20px;
  color: #222;
}
.main-header .nav-mobile-container .nav-mobile-close span {
  font-size: 40px;
}

.index-hero {
  background: url(cbd86a85ca4fbacda728.jpg) no-repeat center top;
  background-size: cover;
}
@media (min-width: 768px) {
  .index-hero {
    background: url(31179e0f0a85f4ad49a7.jpg) no-repeat center top;
    background-size: cover;
  }
}
.index-hero .index-hero-inner {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .index-hero .index-hero-inner {
    height: 60vh;
  }
}
@media (min-width: 1200px) {
  .index-hero .index-hero-inner {
    height: 90vh;
    align-items: flex-end;
  }
}
@media (min-width: 1300px) {
  .index-hero .index-hero-inner {
    height: 100vh;
  }
}
.index-hero .index-hero-inner .index-hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-hero .index-hero-inner .index-hero-content .index-hero-title {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  text-shadow: 0 0 10px #000;
}
@media (min-width: 768px) {
  .index-hero .index-hero-inner .index-hero-content .index-hero-title {
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .index-hero .index-hero-inner .index-hero-content .index-hero-title {
    font-size: 60px;
    max-width: 550px;
  }
}
.index-hero .index-hero-inner .index-hero-content .index-hero-button {
  border: 3px solid #fff;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
}
@media (min-width: 1200px) {
  .index-hero .index-hero-inner .index-hero-content .index-hero-button:hover {
    background-color: #fff;
    color: #222;
  }
}

.index-arrivals {
  padding: 40px 0;
}
@media (min-width: 768px) {
  .index-arrivals {
    padding: 60px 0;
  }
}
.index-arrivals .index-arrivals-title {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .index-arrivals .index-arrivals-title {
    font-size: 34px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .index-arrivals .index-arrivals-title {
    font-size: 38px;
  }
}
@media (min-width: 1600px) {
  .index-arrivals .index-arrivals-title {
    font-size: 44px;
  }
}
.index-arrivals .index-arrivals-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
}
@media (min-width: 768px) {
  .index-arrivals .index-arrivals-products {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
}
@media (min-width: 1200px) {
  .index-arrivals .index-arrivals-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
  }
}

.product-thumbnail {
  display: block;
  color: #222;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all 0.3s ease;
}
@media (min-width: 1200px) {
  .product-thumbnail:hover {
    box-shadow: 0 0 15px #999;
  }
  .product-thumbnail:hover .product-thumbnail-img .product-thumbnail-img-file {
    transform: scale(1.03);
  }
}
.product-thumbnail .product-thumbnail-img {
  overflow: hidden;
}
.product-thumbnail .product-thumbnail-img .product-thumbnail-img-file {
  display: block;
  transform: scale(1.01);
  transition: transform 0.5s ease;
}
.product-thumbnail .product-thumbnail-info {
  padding: 20px 0;
  text-align: center;
}
.product-thumbnail .product-thumbnail-info .product-thumbnail-title {
  display: block;
  margin-top: 0;
  line-height: 1.4;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 768px) {
  .product-thumbnail .product-thumbnail-info .product-thumbnail-title {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .product-thumbnail .product-thumbnail-info .product-thumbnail-title {
    font-size: 20px;
  }
}
.product-thumbnail .product-thumbnail-info .produtc-thumbnail-prices {
  font-size: 14px;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .product-thumbnail .product-thumbnail-info .produtc-thumbnail-prices {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  .product-thumbnail .product-thumbnail-info .produtc-thumbnail-prices {
    font-size: 18px;
  }
}

/*# sourceMappingURL=custom.v1.css.map*/